package view

import "github.com/michelemendel/dmtmms/view/layout"

templ Index(name string) {
	@layout.Base("Helo") {
		<h1 class="pl-3 mt-3 ml-5 text-2xl font-normal">
			Hello Bo DErik the Fish, { name }
		</h1>
	}
}
