package view

import "github.com/michelemendel/dmtmms/constants"

templ Index(name string) {
	@Base("index") {
		<button hx-get="/logout" hx-swap="outerHTML">LOGOUT</button>
		// <a href="/logout">LOGOUT</a>
		if ctx.Value(constants.UsernameKey) != nil {
			<h1 class="pl-3 mt-3 ml-5 text-2xl font-normal">
				Hello, { ctx.Value(constants.UsernameKey).(string) }, { name }
			</h1>
		} else {
			<h1 class="pl-3 mt-3 ml-5 text-2xl font-normal">
				Not logged in
			</h1>
		}
	}
}
