package view

// import "github.com/michelemendel/dmtmms/constants"
templ Members() {
	@MainLayout() {
		// if ctx.Value(constants.IS_LOGGEDIN_KEY).(bool) == true {
		// <h1 class="pl-3 mt-3 ml-5 text-2xl font-normal">
		// Hello, { ctx.Value(constants.USER_NAME_KEY).(string) }
		// </h1>
		// } else {
		<p>
			Members
		</p>
		// }
	}
}
